{
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 130,
  "bracketSpacing": true,
  "proseWrap": "always",
  "trailingComma": "es5",
  "semi": true
}
